*.log
*.jar
.idea
backups
data/.ftb-installed
data/banned-ips.json
data/banned-players.json
data/config
data/defaultconfigs
data/ftb-installer
data/jre
data/kubejs
data/libraries
data/local
data/logs
data/rhino.local.properties
data/user_jvm_args.txt
data/versions
data/world
data/eula.txt
data/log4j2.xml
data/run.bat
data/run.sh
data/usercache.json
data/usernamecache.json
data/version.json

